$color-default-white: #fff;
$color-default-black: #000;

$color-primary: #D44B4B;
$color-primary-lt: #F46767;
$color-primary-dk: #D74343;

$color-grey: #475658;
$color-grey-dk: #333333;

$color-blue: #121761;
$color-blue-dk: #03073C;